<nz-page-header>
  <nz-page-header-content>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <h1 nz-typography>Job Management</h1>
        <nz-radio-group [(ngModel)]="status" (ngModelChange)="setFilter()">
          <label nz-radio-button [nzValue]="0">All</label>
          <label
            nz-radio-button
            *ngFor="let status of statusList"
            [nzValue]="status"
            >{{ status | titlecase }}
          </label>
        </nz-radio-group>
      </div>
    </div>

    <div class="job-table">
      <nz-table
        #basicTable
        nzSize="middle"
        [nzData]="jobList"
        nzShowPagination
        nzShowSizeChanger
      >
        <thead>
          <tr>
            <th nzLeft>ID</th>
            <th nzLeft>Status</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th nzRight>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.job_id }}</td>
            <td>
              <nz-tag [nzColor]="data.status | statusColor">{{
                data.status
              }}</nz-tag>
            </td>
            <td>{{ data.created_date }}</td>
            <td>{{ data.updated_date }}</td>
            <td nzRight>
              <h3 *ngIf="data.status == 'pending'">
                <a
                  nzType="edit"
                  nzTheme="outline"
                  nzTooltipTitle="Edit"
                  nzTooltipPlacement="topCenter"
                  [routerLink]="['edit', data.job_id]"
                  nz-icon
                  nz-tooltip
                ></a>
                <a
                  nzType="close"
                  style="margin-left: 10%"
                  nzTooltipTitle="Cancel"
                  nzTooltipPlacement="topCenter"
                  nz-icon
                  nz-tooltip
                ></a>
              </h3>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-page-header-content>
</nz-page-header>
