<nz-layout>
  <nz-header>
    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col [nzXs]="{ span: 6, offset: 14 }" [nzMd]="{ span: 1, offset: 20 }" [nzLg]="{ span: 1, offset: 20 }"
        [nzXl]="{ span: 1, offset: 20 }" [nzXXl]="{ span: 1, offset: 20 }" class="btn-icon">
        <a routerLink="/"><i nz-icon nzType="home" nzTheme="outline"></i></a>
      </div>

    </div>
  </nz-header>
  <nz-layout class="inner-layout">
    <toktak-breadcrumb></toktak-breadcrumb>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <nz-footer>
    Made with <span style="color: #e25555">&#9829;</span> by Toktak Developer
  </nz-footer>
</nz-layout>