<nz-layout>
  <nz-header>
    <!-- Logo -->
    <!-- <div class="logo"></div> -->
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu"></ul>
  </nz-header>

  <nz-layout>
    <!-- Menu -->
    <nz-sider nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="'job'">
            <i nz-icon="audit"></i>
            <span>Job</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="'location'">
            <i nz-icon="flag"></i>
            <span>Location</span>
          </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="'um'">
            <i nz-icon="user"></i>
            <span>User Management</span>
          </a>
        </li>
      </ul>
    </nz-sider>

    <nz-layout class="inner-layout">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
