<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item>Map</nz-breadcrumb-item>
  <nz-breadcrumb-item>Confirm</nz-breadcrumb-item>
  <nz-breadcrumb-item>Result</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
  <nz-result
    nzStatus="success"
    nzTitle="Successfully ordered Kobuki App!"
    nzSubTitle="Order number: 2017182818828182881 toktak Robot takes 1-5 minutes, please wait."
  >
    <div nz-result-extra>
      <button nz-button nzType="primary">Order Again</button>
    </div>
  </nz-result>
</div>
