<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item>
    <nz-tag [nzColor]="'#66B9BF'">Map</nz-tag>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <nz-tag [nzColor]="'#66B9BF'">Confirm</nz-tag>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <nz-tag [nzColor]="'#66B9BF'">Result</nz-tag>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
  <nz-result
    nzStatus="success"
    nzTitle="Successfully ordered Kobuki App!"
    nzSubTitle="Toktak Robot takes 1-5 minutes, please wait.">
    <div nz-result-extra>
      <button nz-button nzType="primary" routerLink="">Order Again</button>
    </div>
  </nz-result>
</div>
