[nz-col]{
  text-align: center;
  height: 100%;
}
nz-layout{
  height: 100%;
}
[nz-row]{
  height: 100%;
}
button{
  top: 30%;
  margin: auto;
}
.ant-btn-round.ant-btn-lg{
  font-size: 40px;
  padding: 20% 30% 30% 30%;
  width: 432px;
  height:260px;
}
