[nz-col]{
  text-align: center;
}
nz-layout{
  height: 100%;
}
[nz-row]{
  height: 100%;
}
button{
  top: 20%;
  margin: auto;
}
.ant-btn-round.ant-btn-lg{
  font-size: 60px;
  padding: 12% 33% 21% 18%;
  width: 240px;
  height:260px;
}
.header-tx{
  margin: 50px 0px 50px 0px
}
.col-thank{
  top: 30%;
}
h1 {
  font-size: 150px;
  font-weight: 900;
}
