<nz-layout *ngIf="!showThankyou">
  <nz-content>
    <div nz-row nzAlign="middle" nzJustify="center">
      <div nz-col nzSpan="24" class="header-tx">
        <h2>กรุณากดยืนยันการส่งของด้วยครับ</h2>
      </div>
      <div nz-col nzSpan="24" >
        <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="clickRecipe()">ยืนยัน</button>
      </div>
    </div>
  </nz-content>
</nz-layout>

<nz-layout *ngIf="showThankyou">
  <nz-content>

    <div nz-row nzAlign="middle" nzJustify="center">
      <div nz-col nzSpan="24" class="header-tx" class="col-thank">
        <h1>ส่งสิ่งของแล้วนะครับ</h1>
      </div>
    </div>
  </nz-content>
</nz-layout>
