<nz-layout>
  <nz-header>
    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzSpan="1" nzOffset="16" style="background: red">
        icon
      </div>
      <div nz-col nzSpan="1" style="background: red">
        icon
      </div>
      <div nz-col nzSpan="1" style="background: red">
        icon
      </div>
      <div nz-col nzSpan="1" style="background: red">
        icon
      </div>
    </div>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Map</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>

  </nz-content>
  <nz-footer>Kobuki App ©2019 Implement By Jirawat and Chanon</nz-footer>
</nz-layout>
