<div style="margin-left: 5%;margin-right: 5%;">
    <div>
        <!--Mapping-->
    </div>
    <form nz-form>
        <nz-form-item>

          <nz-form-label [nzSpan]="1" nzFor="name">Name</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input type="text" nz-input />
          </nz-form-control>
          <div >
            <nz-form-label [nzSpan]="1" nzFor="name">X</nz-form-label>
            <nz-form-control [nzSpan]="4">
                <input type="text" nz-input/>
            </nz-form-control>
            <nz-form-label [nzSpan]="1" nzFor="name">Y</nz-form-label>
            <nz-form-control [nzSpan]="4">
                <input type="text" nz-input/>
            </nz-form-control>
          </div>
          <nz-form-label [nzSpan]="24"></nz-form-label>

          <nz-form-label [nzSpan]="1" nzFor="name">Detail</nz-form-label>
          <nz-form-control [nzSpan]="22">
            <textarea rows="5" nz-input></textarea>
          </nz-form-control>
        </nz-form-item >
      </form>
      <label nz-radio-button nzValue="all" style="margin-left: 50%">All</label>
</div>