<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item>
    <nz-tag [nzColor]="'#66B9BF'">Map</nz-tag>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <nz-tag [nzColor]="'#66B9BF'">Confirm</nz-tag>
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="16" class="tx-center">
      <h2>Are you sure ?</h2>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="14">
      <nz-timeline>
        <nz-timeline-item>{{this.start}}</nz-timeline-item>
        <nz-timeline-item>{{this.dest}}</nz-timeline-item>
      </nz-timeline>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
      <nz-input-group nzAddOnBefore="From">
        <input type="text" nz-input value="{{this.start}}" disabled/>
      </nz-input-group>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
      <nz-input-group nzAddOnBefore="To">
        <input type="text" nz-input value="{{this.dest}}" disabled/>
      </nz-input-group>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" class="tx-center">
      <button nz-button nzType="primary" class="bn-margin" (click)="onConfirm()">Confirm</button>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8" class="tx-center">
      <button nz-button nzType="danger" class="bn-margin" [routerLink]="'/'">Cancel</button>
    </div>
  </div>
</div>
