/* You can add global styles to this file, and also import other style files */
nz-breadcrumb {
  padding: 16px 0 !important;
  text-align: center;
  //background-color: #3C4F5A;
}

nz-content {
  //padding: 0 50px;
  margin-top: 64px;
}


.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  margin: 0 3%;
}
