<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item> เลือกสถานที่ </nz-breadcrumb-item>
  <nz-breadcrumb-item> ยืนยืนสถานที่ </nz-breadcrumb-item>
  <nz-breadcrumb-item> ผลการดำเนินการ </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
  <nz-result
    nzStatus="success"
    nzTitle="การดำเนินการเสร็จสิ้น"
    nzSubTitle="หุ่นยนต์ toktak จะมาถึงในอีกไม่ช้า"
  >
    <div nz-result-extra>
      <button nz-button nzType="primary" routerLink="">ส่งของอีกครั้ง</button>
    </div>
  </nz-result>
</div>
